<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanri.test.testmybatis.mapper.BatchMapper">
    <!-- base result map -->
    <resultMap id="BaseResultMap" type="com.sanri.test.testmybatis.po.Batch">
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="success" jdbcType="BIT" property="success"/>
        <result column="idcard" jdbcType="CHAR" property="idcard"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="job" jdbcType="VARCHAR" property="job"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="sal" jdbcType="DECIMAL" property="sal"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>

    <!-- base column list -->
    <sql id="columns"> birthday,address,phone,success,idcard,`name`,id,job,email,sal,status </sql>

    <insert id="batchUpdateUseInsert" >
        insert into batch(birthday,address,phone,success,idcard,`name`,id,job,email,sal,status) values
        <foreach collection="batchSubList" separator="," item="batchItem">
            (#{batchItem.birthday},#{batchItem.address},#{batchItem.phone},#{batchItem.success},#{batchItem.idcard},#{batchItem.name},#{batchItem.id},#{batchItem.job},#{batchItem.email},#{batchItem.sal},#{batchItem.status})
        </foreach>
        on DUPLICATE key update phone=values(phone);
    </insert>

    <update id="batchUpdateUseTmpTable" >
        create temporary table batch_tmp_#{timestamp}(id int primary key,phone varchar(20));
        insert into batch_tmp_#{timestamp} values
        <foreach collection="batchSubList"  item="batchItem" separator=",">
            (#{batchItem.id},#{batchItem.phone})
        </foreach>
        ;
        update batch t, batch_tmp_#{timestamp} tmp set t.phone = tmp.phone where t.id=tmp.id;
    </update>
</mapper>